@import "tailwindcss" theme(static);
@import "@nuxt/ui";

@theme {
  --font-sans: 'Public Sans', sans-serif;
  --font-display: 'Science Gothic', sans-serif;
}

@theme static {
  --container-8xl: 90rem;
}

/** inline tailwind classes for the dynamic class generation in IGrid.vue **/
@source inline('{sm:,md:,lg:,xl:,}grid-cols-{1,2,3,4,5,6,7,8}');
@source inline('{sm:,md:,lg:,xl:,}grid');


:root {
  --ui-container: var(--container-8xl);
}

html {
  scroll-behavior: smooth;
}

.neon-text {
  color: var(--ui-text);
  font-weight: 500;
  /* text-shadow:
      0 0 7px #999,
      0 0 10px #999,
      0 0 21px #999,
      0 0 42px #0fa; */
      
  filter: drop-shadow(0 0 7px #999)
          drop-shadow(0 0 10px #999)
          drop-shadow(0 0 21px var(--ui-primary));
       
}

.gradient-text {
  color: var(--ui-text);
  font-weight: 500;
  
  filter: drop-shadow(.2rem 0.2rem 0.1rem var(--ui-bg-accented));
  background-image: linear-gradient(45deg, var(--ui-text), var(--ui-primary) 50%, var(--ui-text) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}
